body{
    margin:0;
    padding:20px;
    font-family: sans-serif;
    background: url(background.jpg);
    background-position: center;
    background-size: cover;

}

*{
    box-sizing: border-box; 
}

.table{
    width:80%;
    max-width: 900px;
    height: 80%;
    border-collapse: collapse;
    overflow-x: scroll;

}
.table td,.table th{
    padding: 12px 15px;
    border:1px solid #3A4B85;
    font-size: 16px;
    text-align: justify;
    text-transform: capitalize;
}
thead{
    background: #CED7F5;
}
tbody{
    background: white;
}

.backbtn{
    width: 20%;
    max-width: 50px;
    height: 5%;
    border: none;
    max-height: 100px;
    max-width: 100px;
    border-radius: 20px;
    background: #ACB9E8;
    cursor: pointer;
}

.wholetbl{
    display: flex;
    margin-top: 5%;
    justify-content: center;    
}

@media (max-width:1024px) {
    .wholetbl{
        width: 130%;
    }
}
